<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h3>Latest Mars News</h3>
            <h4>{{mars_data.title}}</h4>
            <p>{{mars_data.para}}</p>
        </div>

    <div class="row">
        <div class="col-md-8">
            <h3>Featured Mars Image</h3>
            <img src="{{mars_data.feat}}" alt="Featured Image" class="img-responsive">
        </div>
        <div class="col-md-4">
            <h5>Current Weather on Mars</h5>
            <p>{{mars_data.weather}}</p>
            {{mars_data.facts}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Mars Hemispheres</h3>    
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>{{mars_data.hemis[0]["title"]}}</h3> 
            <img src="{{mars_data.hemis[0].img_url}}" alt="Featured Image" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h3>{{mars_data.hemis[1]["title"]}}</h3> 
            <img src="{{mars_data.hemis[1].img_url}}" alt="Featured Image" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>{{mars_data.hemis[2]["title"]}}</h3> 
            <img src="{{mars_data.hemis[2].img_url}}" alt="Featured Image" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h3>{{mars_data.hemis[3]["title"]}}</h3> 
            <img src="{{mars_data.hemis[3].img_url}}" alt="Featured Image" class="img-responsive">
        </div>
    </div>
    </div>
  </div>
  
</body>

</html>
